{% load widget_tweaks %}
<div class="row">
  <div class="col-lg-12">
    <div class="form-group"><strong>Plataforma:</strong> {{ profiles.0.count.platform.name }}</div>
    {% if is_chatgpt_plus %}
      <div class="form-group"><strong>Correo:</strong> {{ profiles.0.count.email }}</div>
      <div class="form-group"><strong>Fecha de corte:</strong> {{ date_limit }}</div>
    {% elif is_ibo_player %}
      <div class="form-group"><strong>Lista de reproducción:</strong> {{ profiles.0.count.link }}</div>
      {% for device in ibo_devices %}
      <div class="form-group">
        <strong>Dispositivo {{ device.profile }}:</strong><br>
        MAC / Device ID: {{ device.device_mac }}<br>
        Clave: {{ device.device_key }}
      </div>
      {% endfor %}
    {% else %}
      <div class="form-group"><strong>Correo:</strong> {{ profiles.0.count.email }}</div>
      <div class="form-group"><strong>Contraseña:</strong> {{ profiles.0.count.password }}</div>
    {% endif %}
    {% if not is_chatgpt_plus and not is_ibo_player %}
      {% for profile in profiles %}
      <div class="form-group">
        <strong>Perfil:</strong> {{ profile.profile }}<br>
        <strong>Pin:</strong> {{ profile.pin }}<br>
        <strong>Link:</strong> {{ profile.count.link }}
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
<script>
send_message('/count/send-plan-whatsapp-message', '{{ profiles_json|safe }}');
</script>
